/* dont do semicolons at the end of each stylizing. this isnt js, you dummy */


/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.btn-group-lg>.btn, .btn-lg { 
    font-size: 20px;
}

.home_tour_img {
	width: 100%; 
	/*display: block;*/
}