
/* dont do semicolons at the end of each stylizing. this isnt js */


html {
	height: 100%;
}


body {
	/*padding-top: 50px;  mmove down content b/c of 50px tall fixed nav */
	height: 100%;
	background-color: #333;
	color: black;
}

body.tour{
	/*padding-top: 50px;  mmove down content b/c of 50px tall fixed nav */
	height: 100%;
	background-color: #333;
}

/*.tour-page{
	padding-top: 50px;  mmove down content b/c of 50px tall fixed nav 
	height: 100%;
	background-color: grey;
} */ 
.subpage {

	padding-top: 50px;
}

/* Navigation */

.navbar-inverse {
	background: none;
	border: none;
}

.tour-page .navbar-inverse {
	background: #333;
	border: none;
}

.navbar-inverse .navbar-nav>li>a {
		 color: #ebebeb; 
}

.navbar-inverse .navbar-toggle {
		border: none;
}

.navbar-inverse 
.navbar-toggle:focus, 
.navbar-inverse 
.navbar-toggle:hover {
	background: none;
}

/* Header */

.btn-group-lg>.btn, .btn-lg { 
	font-size: 16px;
}


.home_banner {
	background-image: url(../Images/new-orleans-cemetery-tours.jpg);
	background-size: cover;
	background-position: center;
	box-shadow: inset 0 0 0 1000px rgba(80,19,24,.5);
	height: 100%;
	width: auto;

}

.index.jumbotron h1 {
	color: #fff;
	font-family: 'Crimson Text', serif;
	text-transform: uppercase;
	font-size: 150px;
	font-style: italic;
	font-weight: 400;
	line-height: 70%;

}

.index.jumbotron h1 span {
	margin-left: -10px;
}

.index.jumbotron h3 {
	color: #fff;
	font-weight: 10;
}

/* media to responsive scale header text */

@media (max-width: 1200px) {
  .index.jumbotron h1{
    font-size: 120px;
  }
}

@media (max-width: 1000px) {
  .index.jumbotron h1{
    font-size: 100px;
  }
   .index.junbotron h3{
  	font-size: 20px;
  }
}

@media (max-width: 750px) {
  .index.jumbotron h1{
    font-size: 90px;
  }
}

@media (max-width: 750px) {
  .index.jumbotron h3{
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .index.jumbotron h1{
    font-size: 70px;
  }
}

@media (max-width: 550px) {
  .index.jumbotron h1{
    font-size: 50px;
  }
}

@media (max-width: 550px) {
  .index.jumbotron h3{
    font-size: 16px;
  }
	.jumbotron h1{
		font-size: 120px;
	}
}

@media (max-width: 1000px) {
	.jumbotron h1{
		font-size: 100px;
	}
	 .jumbotron h3{
		font-size: 20px;
	}
}

@media (max-width: 750px) {
	.jumbotron h1{
		font-size: 90px;
	}
}

@media (max-width: 750px) {
	.jumbotron h3{
		font-size: 20px;
	}
}

@media (max-width: 650px) {
	.jumbotron h1{
		font-size: 70px;
	}
}

@media (max-width: 550px) {
	.jumbotron h1{
		font-size: 50px;
	}
}

@media (max-width: 550px) {
	.jumbotron h3{
		font-size: 16px;
	}
}


/* header button */
.head-btn>.btn, .btn-lg {
		border-radius: 3px;
}

.head-btn {
	color: #fff;
	background: none;
	border-color: #fff;
	text-align: center;
}

.head-btn:hover, 
.head-btn:active, 
.head-btn:focus, 
.head-btn.active:focus,
.head-btn:active.focus,
.head-btn:active:focus{
	background-color: rgba(255, 255, 255,.1);
	border-color: #fff;
	outline:none;
}

/* index tour button */

.index-detail-btn {
	background-color: #8e222b;
	border: none;	
}

.index-detail-btn:hover{
	background-color: #501318;
}

.index-book-btn:hover {
	background-color: #ebebeb;
}



/* Tours */

.home_tour_img {
	width: 100%; 
	/*display: block;*/
}

.home_tour {
	padding: 50px;
}

.tours_ind {
	background-color: #e0e0e0;
	border: none;
/*    border-radius: 2px;*/
}

.thumbnail{
	border-radius: 2px;
}



div:focus {
	outline: none;
}

.tour.jumbotron {
	border-radius: 0px;
	padding-left: 60px;
	padding-right: 60px;
	height: auto;
	background-image: url(../images/default-7.jpg);
	background-size: cover;
	width: auto;
	box-shadow: inset 0 0 0 1000px rgba(80,19,24,.5);
}

.tour.jumbotron h1 {
	color: #fff;
	font-family: 'Crimson Text', serif;
	text-transform: uppercase;
	font-size: 130px;
	font-style: italic;
	font-weight: 400;
	line-height: 70%;
	padding-top: 60px;
	text-align: center;
	line-height: 95px;

}

.tour.jumbotron span {
	margin-left: 33px;
}

.tour.jumbotron span.phantoms {
	line-height: 1.08;
	margin-left: 4px;
}

.tour.jumbotron#haunted {
	background-image: url(../images/mortuary.jpg);
	box-shadow: inset 0 0 0 1000px rgba(80,19,24,.5);
	height: 100%;
	position: fixed;
}

p.tour.lead {
	color: white;
	text-align: center;
	font-weight: 100px;
	padding-top: 20px;
	padding-bottom: 10px;

}

.tour.col-lg-5 {
	background-color: white;
	border-radius: 6px;
}


.thumbnail.img_gallery {
	background: none; 
	border: none; 
}

.gallery_img a>img, .gallery_img >img {
    height: 200px;
    object-fit: cover;
}

/*Tour Page */

.tour.col-lg-5 h3{
	color: grey;

}

.tour.col-lg-5#right {
	float: right;
}

@media (max-width: 1200px) {
  .tour.jumbotron h1{
    font-size: 120px;
  }
}

@media (max-width: 1000px) {
  .tour.jumbotron h1{
    font-size: 100px;
  }
   .tour.junbotron h3{
  	font-size: 20px;
  }
}

@media (max-width: 750px) {
  .tour.jumbotron h1{
    font-size: 90px;
  }
}

@media (max-width: 750px) {
	.tour.jumbotron h3{
    font-size: 20px;
  }
}


/* carousel */

div#carousel.container{
	padding: 50px 50px;

}

.carousel-control.left {
	width: 5%;
	background-image: none;
}

.carousel-control.right {
	width: 5%;
	background-image: none;
}

ol.carousel-indicators {
	margin-bottom: 0px;
}


@media (max-width: 650px) {
  .tour.jumbotron h1{
    font-size: 70px;
  }
}

@media (max-width: 550px) {
  .tour.jumbotron h1{
    font-size: 50px;
  }
}

@media (max-width: 550px) {
  .tour.jumbotron h3{
    font-size: 16px;
  }
}


/* wysiwyg */

div.wysiwyg{
	padding: 0px 100px;
}

/* Footer */
footer{
	text-align: center;
	margin-top: 75px;
}
